@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

#topgraphics {
  margin-top: 1em;
  margin-bottom: 3em;

  .topgraphic {
    border: 1px solid black;
    padding: 10px;
    position: relative;

    a {
      border-bottom: none;
    }

    img {
      width: 100%;
    }

    .topgraphic__sharecount {
      text-align: center;
    }
  }
}
